:root{
   --primary-color: aliceblue;
   --secondary-color: #fff;
   --text-color: grey;
   --link-color: #333;
   --text-primary: navy;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Utility Classes */
.my-5{ margin: 0 5px;}
.my-10{ margin: 0 10px;}
.my-15{ margin: 0 15px;}

.py-5{ padding: 0 5px;}
.py-10{ padding: 0 10px;}
.py-15{ padding: 0 15px;}

body{
   font-size: 0.9rem;
   background: var(--primary-color);
   overflow: hidden;
   color: var(--text-primary);
}

i{
   cursor: pointer;
}

.bg-you{
   padding: 0 0.2rem;
   background: var(--text-primary);
   color: var(--secondary-color);
   cursor: pointer;
}

.container{
   display: flex;
   margin-top: 1rem;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   min-height: 100vh;
}

.chat{
   display: flex;
   border: 1px solid #333;
   width: 38%;
   border-radius: 5px;
   background: var(--secondary-color);
   min-height: 90px;
   position: relative;
   border: none;
}

.chat .comments{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   flex: 0.7;
   margin: 0.8rem;
   border-radius: 5px;
   background: var(--primary-color);
}

.chat .comments i{
   color: var(--text-color);
}

.chat .right-content{
   margin: 0.8rem;
   color: var(--text-color);
   flex: 11;
}

.right-content .chat-top{
   display: flex;
   align-items: center;
}

.right-content .chat-top img{
   height: 30px;
   width: 30px;
   border-radius: 50%;
}

.right-content .chat-top > *{
   margin: 0 5px;
}

.right-content .chat-top > a{
   color: var(--link-color);
   text-decoration: none;
   font-weight: bold;
}

.chat-top .you-top{
   position: absolute;
   right: 0;
}

.chat-top .you-top > a{
   text-decoration: none;
   color: var(--text-primary);
   font-weight: bold;
}

.chat-top .you-top span a{
   text-decoration: none;
   color: red;
   padding-right: 1.5rem;
   font-weight: bold;
}

.text-primary{
   color: var(--text-primary);
   font-weight: bold;
}

.text-secondary{
   color: red;
}


.right-content .chat-content{
   margin: 0.5rem 0;
}

.right-content .chat-content a{
   text-decoration: none;
}

.add-comment{
   display: flex;
   width: 38%;
   background: var(--secondary-color);
   min-height: 100px;
   justify-content: center;
   padding: 0.5rem;   
   border-radius: 5px;
}

.add-comment > *{
   margin: 0 0.3rem;
}

.add-comment img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   flex: 1;
}

.add-comment textarea{
   padding: 0.3rem;
   flex: 10;
   border: 1px var(--text-color) solid ;
   border-radius: 5px;
}

.add-comment .send-btn{
   border: none;
   align-self: flex-start;
   background: var(--text-primary);
   color: var(--secondary-color);
   min-height: 20px;
   align-items: center;
   padding: 0.5rem 1rem;
   border-radius: 5px;
}

.add-comment a{
   text-decoration: none;
}