/*Navbar*/
#navbar .logo{
	float: none;
	text-align: center;
}

#navbar ul, #navbar ul li{
	float: none;
	text-align: center;
}

#navbar ul li a{
	border-bottom: 1px dotted #444;
	padding-bottom: 5px;
}

/*Showcase*/
#showcase{
	min-height: 100%;
}

#showcase .showcase-content{
	padding-top: 100px;
}

/*Main Content*/
#main-info #left-info{
	display: none;
}

#main-info #right-info{
	float: none;
	width: 100%;
	text-align: center;
}

/*Features*/
.box{
	float: none;
	width: 100%;
}

/*About*/
#about-info #info-right,
#about-info #info-left{
	float: none;
	width: 100%;
}

#about-info h1{
	text-align: center;
}

#contact-box .box{
	border-bottom: 1px solid #444;
}