/*Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Main Stlying*/
html, body{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	line-height: 1.7em;
}

a{
	text-decoration: none;
	color: #333;
}

p{
	padding-bottom: 20px;
}

h1, h2, h3{
	margin: 10px 0; 
}

/*Padding Utility*/
.py-10px{ padding: 10px 0px;}
.py-20px{ padding: 20px 0px;}
.py-30px{ padding: 30px 0px;}


/*Margin Utility*/
.margin-10px{ margin: 10px 0px;}
.margin-20px{ margin: 20px 0px;}
.margin-30px{ margin: 30px 0px;}

/*Large Texxt Utility*/
.lg-10px{ font-size: 10px;}
.lg-20px{ font-size: 20px;}
.lg-30px{ font-size: 30px;}

/*Utility CLasses*/
.container{
	margin: auto;
	max-width: 1100px;
	overflow: auto;
	padding: 0px 20px;
}

.container .showcase-content{
	text-align: center;
	color: #fff;
	padding-top: 170px;
}

.text-primary{
	color: #f7c08a;
}

.lead-note{
	font-size: 18px;
}

.btn{
	display: inline-block;
	font-size: 18px;
	padding: 10px 20px;
	color: #fff;
	background: #333;
	cursor: pointer;
	border: none; /*Incase we wanna add the class to our buttons*/ 
} 

.btn:hover{
	background: #f7c08a;
	color: #333;
}

.btn-light{
	background: #f4f4f4;
	color: #333; 
}

.bg-dark{
	background: #333;
	color: #fff;	
}

.bg-light{
	background: #f4f4f4;
	color: #333;	
}

.bg-primary{
	background: #f7c08a;
	color: #333;	
}

.bg-secondary{
	background: #90A5A7;
	color: #333;
}

.clr{
	clear: both;
}
/*navbar*/
#navbar{
	background: #333;
	overflow: auto;
}

#navbar a{
	color: #fff;
}

 #navbar .logo{
	float: left;
	padding-top: 20px;
 }

#navbar ul{
	float: right;
	list-style: none;
}

#navbar ul li{
	float: left;
}

#navbar ul li a{
	display: block;
	padding: 20px;
}

#navbar ul li a:hover, 
#navbar ul li a.current{
	background: #444;
	color: #f7c08a;
}

/*Showcase Styling*/
#showcase{
	background: url('../img/showcase.jpg') no-repeat center center/cover;
	height: 600px;	
}

#showcase .showcase-content{
	color: #fff;
	text-align: center;
	padding-top: 170px;
}

#showcase .showcase-content h1{
	font-size: 60px;
	line-height: 1.2em;
}

#showcase .showcase-content p{
	padding-bottom: 20px;
	line-height: 1.7em;
}

/*Main Content*/
#main-info{
	height: 400px;
}

#main-info #left-info{
	background: url('../img/photo-1.jpg') no-repeat;
	float: left;
	width: 50%;
	min-height: 100%;
}

#main-info #right-info{
	float: right;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 50px 30px;
	overflow: hidden;	
}

#main-info #right-info p{
	padding-bottom: 30px;
}

/*Features*/
.box{
	float: left;
	width: 33.3%;
	padding: 50px;
	text-align: center;
}

.box i{
	margin-bottom: 10px;
}

/*ABOUT STYLING*/
#about-info #info-right{
	float: right;
	width: 50%;
	min-height: 100%;
}

#about-info #info-right img{
	display: block;
	margin: auto;
	width: 70%;
	border-radius: 50%;
}

#about-info #info-left{
	float: left;
	width: 50%;
	text-align: justify;
	min-height: 100%;
}

/*Testimonials*/
#testimonials{
	background: url('../img/test-bg.jpg') no-repeat center center/cover;
	min-height: 100%; 
	padding: 70px 40px;
}

#testimonials .testimonial{
	border-radius: 10px;
	opacity: 0.9;
	padding-bottom: 40px;
	margin-bottom: 40px; 
}

#testimonials h2{
	color: #fff;
	text-align: center;
} 

#testimonials .testimonial img{
	float: left;
	margin-right: 20px;
	width: 100px;
	border-radius: 50%;
}

/*Contact Page*/
#contact-info .form-group{
	margin-bottom: 20px;
}

#contact-info label{
	display: block;
	margin-bottom: 5px; 
}

#contact-info input, 
#contact-info textarea{
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd; 
	border-radius: 5px;
}

#contact-info textarea{
	height: 200px;
}

/*changing focus state for whem i click on the input/texta field*/
#contact-info input:focus, 
#contact-info textarea:focus{
	outline: none;
	border-color: #f7c08a; 
}

/*footer*/
#main-footer{
	background: #444;
	text-align: center;
	color: #fff;
	padding-top: 20px; 
}